<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Test | Spring Study Case</title>
</head>
<body>
<div layout:fragment="content" class="container">

    <div class="jumbotron">
        <h1>Test</h1>
        <p>Sed eu pulvinar sapien, in lacinia metus. Mauris convallis odio dui, vel luctus elit bibendum et. Mauris vitae leo sit amet velit rhoncus euismod. Curabitur aliquet tempor odio. Etiam est lectus, fermentum non gravida ut, mattis a lorem. Duis in suscipit felis. Etiam commodo dolor purus, quis facilisis erat fermentum a.</p>
       
    </div>
</div>
</body>
</html>